
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Single+Day&display=swap');


*{
    padding: 0;
    margin: 0;
}
.bodyContainer{
    background-image: url('./assets/rapImage.png');
    background-repeat: no-repeat;
    background-size: 50% 100vh;
    background-color: black;
    font-family: "Roboto";
    height: 100vh;
}

    .leftHeading{
        position: absolute;
        top: 72vh;
        left: 5vw;
        font-size: 40px;
        max-width: 450px;
        color: white;
        font-family: "Roboto";
    }

  form{    
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
    margin-left: 60%;
  }

  .container h1{
    margin-top: 5vh;
    font-family: "Single Day", cursive;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: #72DB73;    ;
    font-style: normal;
  }

  .p1{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .container input[type="text"] {
    color: white;
    background-color: #292929;
    height: 30px;
    border-radius: 4px;
    font-family: "Roboto";
    border-style: none;
    
  }
  
  .checkbox{
    color: #7C7C7C;
    font-family: "Roboto";
    font-size: 15px;
  }

  button{
    border-radius: 15px;
    background-color:  #72DB73;
    color: white;
    height: 30px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
  }

  span{
    font-size: 12px;
  }

  .terms{
    font-size: 13px;
    color:  #7C7C7C;
    
  }
  
  .highlight{
    color: #72DB73;
    cursor: pointer;
  }